apiVersion: v1
kind: Service
metadata:
  name: fl-server-svc
  namespace: federated-ml
  labels:
    app: fl-server
spec:
  type: LoadBalancer
  ports:
    - port: 8080
      targetPort: 8080
      protocol: TCP
      name: http
  selector:
    app: fl-server
